<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fish.name %></title>
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="fish-details">
        <img src="<%= fish.imageURL %>" alt="<%= fish.name %> image" />
        <p>Description: <%= fish.description %></p>
        <p>Type: <%= fish.type %></p>
        <p>HP: <%= fish.hp %></p>
        <p>ATK: <%= fish.atk %></p>
        <p>DEF: <%= fish.def %></p>
        <a href="/home">Back to Fish List</a>
    </div>
</body>
</html>